:root {
    --branco: #FFFFFf;
    --preto: #000000;
    --verde: #BBED2F;
    --roxo: #993399;
    --fonte-titulos: "Roboto", sans-serif;
    --fonte-textos: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--preto) ;
    color:var(--branco)
}

.principal {
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2em;
    height: 100vh;
}

.cabecalho {
    padding-right: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho__link h1 {
    font-family: var(--fonte-titulos);
    color: var(--branco);
}

.cabecalho__lista {
    display: flex;
    gap: 5em
}

.ancor,
.prototipo {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2em;
    font-family: var(--fonte-textos);
}

.prototipo:hover {
    color: var(--verde);
}

.ancor:hover {
    color: var(--verde)
}

.principal__caixa {
    margin: 8em 0;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__titulo {
    font-family: var(--fonte-titulos);
    font-size: 5em;
    color: var(--branco);
}

.principal__link {
    font-family: var(--fonte-titulos);
    background-color: var(--verde);
    color: var(--preto);
    font-size: 1em;
    border-radius: 2em;
    margin: 2em;
    padding: 0.5em;
    display: block;
    text-decoration: none;
    width: 50%;
}

.informacoes{
    padding: 1em;
}

.informacoes__titulo {
    font-family: var(--fonte-titulos);
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

.plano-ensino-container {
    column-count: 2;
    column-gap: 40px;
}

.plano-ensino {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plano-ensino-item {
    margin-bottom: 20px;
    font-family: var(--fonte-textos);
}

.section-title {
    font-weight: bold;
}

.sub-list {
    list-style-type: disc;
    padding-left: 20px;
}

.sub-list li {
    margin-bottom: 5px;
}

.sub-sub-list {
    list-style-type: circle;
    padding-left: 20px;
}

.sub-sub-list li {
    margin-bottom: 5px;
}

.grupo {
    text-align: center;
}

.grupo__titulo {
    font-family: var(--fonte-titulos);
    font-size: 2em;
    padding: 1em 0 3em 0;
}

.grupo__informacoes {
    display: flex;
    justify-content: space-evenly;
}

.container__nome {
    font-family: var(--fonte-titulos);
    margin: 0.5em;
}

.container__matricula {
    font-family: var(--fonte-textos);
}

.referencias {
    padding: 1em;
}

.referencias-titulo {
    font-family: var(--fonte-titulos);
    text-align: center;
    font-size: 2em;
    padding: 1em 0 3em 0;
}

.referencias-lista-link {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--branco);
}

.referencias-lista-link:hover {
    color: var(--roxo);
}